*{margin: 0;
padding: 0%;}

/*menu */
body{
    
    
    margin: auto;
    padding: 10px;
    width: 100%;
    height: auto;
    background-color: aquamarine;
    text-align: center;
}
nav{
    background-image: url(/images/logovalheim.jpg);
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    height: 500px;
    top: 0;
    margin: 20px;
    width: 100%;

    list-style: none;
    text-align: center;
    margin: auto;
}
.menu{
    max-width: 300px;
    margin:10px auto;
    display: flex;
    list-style: none;
    transition-duration: 0.3s;
    
}
.main{margin: auto;
    top: -10px;
   
    display: flex;
    list-style: none;
    border-radius: 2px;
    
}
.secondmain{
    list-style: none;
    margin: 10px;
    visibility: hidden;
    opacity:0 ;
    position: absolute;
    transition: all 0.5s ease-in;
    margin-top: 20px;    
}
ul li:hover >ul, ul li ul:hover{
    visibility: visible;
    opacity: 1;
    display: block;
}
.secondmain li{
    border-radius: 2px;
    opacity: 1;
    transition-duration: 0.3s;
}
.secondmain li:hover{
    background-color: royalblue;
    visibility: visible;
    opacity: 0.78;
   

}
a{
    color: white;
    text-decoration: none;
   
}
.secondmain a:hover{
    color: chartreuse;
}
/*content*/
.content{
    margin:auto;
    padding: 10px;
    width: 80%;
    text-align: justify;

}
.content li{
    text-decoration: none;
    list-style: none;
    left:20px;
}
h2{
    margin: 5px;
    padding: 10px;
    left: -20px;

}
.content img{
    width: 100px;
    height: 100px;
}